.container{
    width: 1170px;
}

.accordion-heder{
    background-color: rgba(213, 206, 215, 0.647); 
}
.head-1{
    margin: 10px;
    padding: auto;
    font-family: Arial, Helvetica, sans-serif;
}
.accordion-heder{
    background-color: aquamarine;
}
.accordion-header-buyer{
    border: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
