.container{
    background-color: black;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
.bootstrap{
    display: calc(center);
    text-align: center;
    margin: auto;
    
}
 img{
    width: 7%;
    height: auto;
 }  
.header{
    text-align: center;
}
h1{
    text-align: center;
}

.foot{text-align: center;
    margin: 50px 0;
}
.nav{
    justify-content: center;
    margin: 0 5px;
}
ul{
    display: flex;
    padding: 0 0 ;
    margin: 0 0
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    margin: 0 5px ;
    font-size: 14px;
}