
.nav{
    background-color: black;
    flex: auto;
    text-align: center;
    position: sticky;
    top: 0px;
}
.navbar ul{
    color: azure;
}
.icon{
    position: relative;
    left: -17px;
    bottom: -6px;
}
.head{
    text-align: center;
    padding-top: 10%;
    font-size: 300%;
}
main{
    text-align: center;
}

.pera{
    text-align: center;
    font-size: 150%;
}
.button{
    padding: 12;
    border: .800;
}
.button{
    text-align: center;
    color: gray;

}
.content{
    text-align: center;
    position: absolute;
    width: 100%;top: 10%;
}
.nav-link{
    color: black;
}
.heading{
    text-align: center;
    margin: 100px 0 100px 0;
}
.section-1{
    margin: 15px;
}
.right{
    background-color: black;
    position: relative;
    height: 350px;
    width:100%;
}
.right-1{
    position: absolute;
    height: 200px;
    width: 68%;
    background-color: white;
    top: 150px;
    left: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.head-1{
    color: white;
}
.left{
    position:relative;
    background-color: white;
    height: 350px;
    background-color:rgb(234, 239, 243);
    width:100%;
}
.left-1{
    position: absolute;
    height: 200px;
    width: 68%;
    background-color:black;
    top: 150px;
    left: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.right-1-2{
    background-color:blue;
    position: relative;
    height: 350px;
    width:100%;
}
.right-2{
    position: absolute;
    height: 200px;
    width: 68%;
    background-color: white;
    top: 150px;
    left: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.left-info{
    background-color:rgb(234, 239, 243);
    position: relative;
    height: 350px;
    width:100%;
}
.left-info-1{
    position: absolute;
    height: 200px;
    width: 68%;
    background-color: white;
    top: 150px;
    left: 100px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}
.foot{
    width: 75%;
    margin: auto;
}

